@import "./core/reset";
@import "./core/variables";

.App {
  display: grid;
  background-color: $color-dark-strong;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 70px 1fr 50px;
  width: 100%;

  .header {
    grid-column: 1/5;
    grid-row: 1/2;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &__logo {
      height: 150px;
      background-image: url(../images/Rick_and_Morty_-_logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 20px;
    }
  }

  .main {
    grid-column: 1/5;
    grid-row: 2/4;

    .filter {
      font-family: $font-normal;
      margin: 15px 30px;

      &__input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid $color-dark-medium;
        background: transparent;
        padding: 7px;
        caret-color: $color-light;
        color: $color-light;
      }

      &__input:focus {
        border: 0;
        outline: none;
        border-top: 2px solid $color-dark-medium;
        border-bottom: 2px solid $color-dark-medium;
      }
    }

    .card-list {
      font-family: $font-normal;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      .card {
        background-color: $color-dark-medium;
        width: 130px;
        height: 200px;
        margin: 10px 10px;
        padding: 5px;
        border-radius: 5px;
        border-style: inset;
        border-color: $color-medium;
        color: $color-light;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__image {
          width: 100%;
          border-radius: 50%;
        }

        &__name {
          font-size: 27px;
          font-family: $font-titles;
          text-transform: capitalize;
          text-shadow: 2px 2px 4px #000000;
        }

        &__species {
          font-size: 14px;
        }
      }

      .card:hover {
        transform: scale(1.06);
        cursor: pointer;
      }
    }

    .modal {
      display: flex;
      justify-content: center;
      color: $color-light;

      &__content {
        border: 1px solid white;
        background-color: $color-dark-medium;
        padding: 5px;
        border-radius: 5px;
        width: 250px;

        &__title {
          font-size: 35px;
          font-family: $font-titles;
          text-transform: capitalize;
          text-shadow: 2px 2px 4px #000000;
          text-align: center;
          margin: 7px 0;
          span {
            margin-left: 10px;
          }
        }

        &__main {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          &__image {
            width: 160px;
            border-radius: 20px;
            margin-right: 10px;
            img {
              width: 100%;
              border-radius: 20px;
            }
          }

          &__properties {
            font-size: 15px;
          }
        }
      }
    }
  }
  .footer {
    grid-column: 1/5;
    grid-row: 4/5;
    text-align: center;
    color: $color-light;
    font-family: $font-titles;
    font-size: 20px;
    padding: 10px 0;
  }
}
