@import "./core/reset";
@import "./core/variables";

.App {
  background-color: $color-dark-strong;
  display: grid;
  grid-template-areas:
    "head head"
    "input input"
    "cards cards";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 90px 1fr;

  .header {
    grid-area: head;
    background-image: url(../images/Rick_and_Morty_-_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 20px;
  }

  .filter {
    grid-area: input;
    font-family: $font-normal;
    padding: 15px 45px;

    .input {
      width: 100%;
      border: 0;
      border-bottom: 2px solid $color-dark-medium;
      background: transparent;
      padding: 7px 0;
      caret-color: white;
      color: white;
    }

    .input:focus {
      border: 0;
      outline: none;
      border-top: 2px solid $color-dark-medium;
      border-bottom: 2px solid $color-dark-medium;
    }
  }

  .card-list {
    grid-area: cards;
    font-family: $font-normal;
    display: grid;
    grid-template-columns: 160px 160px;
    margin: 10px;

    .div3-1 {
      background-color: $color-dark-medium;
      width: 125px;
      height: 200px;
      margin: 10px 0;
      padding: 5px;
      border-radius: 5px;

      .image {
        width: 100%;
      }
    }

    .div3-1:hover {
      transform: scale(1.06);
      cursor: pointer;
    }
  }
}
