@import "./core/reset";
@import "./core/variables";

.App {
  background-color: $color-dark-strong;
  display: grid;
  grid-template-areas:
    "head head"
    "input input"
    "cards cards";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 70px 1fr;

  .div1 {
    grid-area: head;
    font-family: $font-titles;
    background-image: url(../images/Rick_and_Morty_-_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 20px;
    font-size: 26px;
  }

  .div2 {
    grid-area: input;
    font-family: $font-normal;
    padding: 2px 70px;
    margin-top: 10px;

    .input {
      width: 100%;
      border: 0;
      border-bottom: 2px solid $color-dark-medium;
      background: transparent;
      padding: 7px 0;
    }

    .input:focus {
      border: 0;
      outline: none;
      border-top: 2px solid $color-dark-medium;
      border-bottom: 2px solid $color-dark-medium;
    }
  }

  .div3 {
    grid-area: cards;
    font-family: $font-normal;
    .div3-1 {
      background-color: $color-dark-medium;
      width: 150px;
      height: 220px;
      margin: 15px auto;
      padding: 5px;
      border-radius: 5px;

      .image {
        width: 100%;
      }
    }

    .div3-1:hover {
      transform: scale(1.06);
      cursor: pointer;
    }
  }
}
