// variables
$color-light: #dcccc4;
$color-light-less: #ecb48c;
$color-medium: #77c28d;
$color-dark: #225164;
$color-dark-strong: #090b0b;

// font

$font-normal: "Open Sans", sans-serif;
$font-titles: "Six Caps", sans-serif;
