// variables
$color-light: #dcccc4;
$color-light-less: #ecb48c;
$color-medium: #77c28d;
$color-medium-other: #59b557;
$color-dark-medium: #04acc5;
$color-dark: #047787;
$color-dark-strong: #0a464a;

// font

$font-normal: "Open Sans", sans-serif;
$font-titles: "Six Caps", sans-serif;
